@font-face {
    font-family: proxima-nova;
    src: url(font/Proxima\ Nova\ Font.otf);
}

body{
    width: 100%;
    font-size: 1rem !important;
    font-family: proxima-nova;
}

h1, h2, h3, h4, h5{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-size: 1rem; 
    font-family: proxima-nova;
}

ul{
    list-style-type: none;
}

ul li i{
    padding-left: 32px;
}

h2{
    font-size: 2.25rem;
    color: #4e3821;
    border-bottom: 2px dashed #068a62;
    display: table;
    margin: 0 auto;
    padding: 32px 0 0 0;
}








/* --------------------Navbar and Hero Area------------------------ */
.back-img{
    font-family: sans-serif;
    background-image: linear-gradient(rgba(250, 250, 250, 0.952), rgba(0, 0, 0, 0)), url("images/hero-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 0%;
    height: 60rem;
    width: 100%;
}

.back-img .row{
    width: 80%;
    margin: 0 auto;
    border-bottom: #4e3821 solid 1px;
    padding-top: 1%;
}

.back-img .row .col-md-3{
    text-align: center;
}

.back-img .row .col-md-3 p{
    font-size: 1rem;
}

.back-img .row .d-inline-flex{
    padding: 0;
    font-size: 1rem;
}

.back-img .navbar{ 
    width: 80%;
    margin: 0 auto;
}

.back-img .navbar img{
    width: 20%;
    height: auto;
}

.back-img .navbar .navbar-toggler .navbar-toggler-icon{
    color: #4e3821;
}

.back-img .navbar .ml-auto .navbar-nav{
    font-size: 1.25rem;
}

.back-img .navbar .ml-auto .navbar-nav .nav-item.search{
    line-height: 2.5em;
}

.back-img .navbar .ml-auto .navbar-nav .nav-item.search i{
    padding: 0;
}

.back-img .navbar .ml-auto .navbar-nav .nav-item .nav-link{
    color: #4e3821;
}

.back-img .navbar .ml-auto .navbar-nav .nav-item:hover .nav-link{
    background-color: #068a6283;
    color: #fff;
    border-radius: 20px;
    padding: 8px 16px;
    transition: 0.2s all ease-in-out;
}



.back-img .navbar .ml-auto .navbar-nav .dropdown:hover .dropdown-menu{
    display: block;
}

.hero-area{
    width: 40%;
    margin: 10em auto;
}

.hero-area .lead{
    font-size: 1.75rem;
}

.hero-area form .form-row .form-group{
    display: flex;
    width: 100%;
}

.hero-area form .form-row .form-group .form-control{
    border-radius: 0;
    border: none;
    height: 3.5rem;
}

#inputCategories{
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px ;
    border-right: 2px solid rgba(192, 192, 192, 0.959) ;
}

#inputDestination{
    border-right: 2px solid rgba(192, 192, 192, 0.959) ;
}

#searchBtn{
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
}


.wave{
    width: 100%;
    position: absolute;
    bottom: 0;
}


/* ----------------CARDS----------------- */
.cards{
    width: 90%;
    color: #4e3821;
    text-align: center;
    border-style: none;
    margin: 2rem auto;
    padding: 32px 0px;

}

.cards{
    justify-content: space-around;
}

.cards .card{
    padding: 0 54px;
    border: none;
}

.cards .card .card-title{
    padding-top: 32px;
}

.cards .card img{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cards .card .card-body{
    padding: 8px 0 ;
}

.cards .card .card-body .card-text{
    margin: 1em;
    font-size: 1.25rem;
}





/* ----------------------------------MICE TOURISM-------------------------- */
.mice-tourism{
    background-color: rgb(217, 236, 219);
    padding-top: 32px;
    padding-bottom: 32px;
    width: 100%;
}

.mice-tourism.row{
    margin: 0;
}

.mice-tourism .details a{
    font-size: 1.25rem;
}

.mice-tourism img{
    width: 100%;
    margin: 0 auto;
}

.mice-tourism .details{
    padding: 48px 32px;
    /* width: 45%;
    height: auto;
    margin: 0 auto; */
}




/* --------------------------OUR TEAMS------------------------------- */
.our-teams .owl-carousel{
    width: 80%;
    margin: 0 auto;
}

.our-teams .owl-carousel .item{
    background-image: linear-gradient(rgb(255, 255, 255),#fff);
    text-align: center;
    color:  #4e3821;
    padding: 40px 0px;
    opacity: 0.4;
    transform: scale3d(0.6, 0.6, 0.8);
    transition: all 0.8s ease-in-out;
    position: relative;
    margin-left: -120px;
    margin-right: -120px;
    box-shadow: 5px 5px 5px #000;
}

.our-teams .owl-carousel .owl-item.active.center .item{
    background-image: linear-gradient(rgb(255, 255, 255),#068a62);
    opacity: 1;
    transform: scale3d(0.8,0.8,0.8);
    color: #fff;
    box-shadow: 5px 5px 5px #fff;
}

.our-teams .owl-carousel .item img{
    width: 70%;
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 8%;
}

.our-teams .owl-carousel .owl-nav{
    font-size: 100px;
}

.our-teams .owl-carousel .owl-prev{
    position: absolute;
    top: 50%;
    left: -8%;
    transform: translateY(-50%);
    color: #4e3821;
}

.our-teams .owl-carousel .owl-next{
    position: absolute;
    top: 50%;
    right: -8%;
    transform: translateY(-50%);
    color: #4e3821;
}

.our-teams .owl-carousel .owl-nav .owl-prev:hover{
    background: #fff;
}

.our-teams .owl-carousel .owl-nav .owl-next:hover{
    background: #fff;
}

.our-teams .owl-carousel .owl-nav button span{
    color: #4e3821;
    background: #fff;
}








/* ------------------------------WHY CHOOSE US--------------------------------------------------------- */
.why-choose-us{
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgb(250, 250, 250), rgba(0, 0, 0, 0)), url(images/bouddha.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.why-choose-us.row{
    margin: 0px;
}



.why-choose-us .circle{
    width: 45%;
    margin: 0 auto;
    background: url(images/Mask\ group.png) center;
    background-size: 80%; 
    background-repeat: no-repeat;
}


.why-choose-us .iata-logo{
    text-align: center;
    color: #fff;
}

.why-choose-us .iata-logo .group{
    padding-top: 190px;
    padding-left: 24px;
}

.why-choose-us .iata-logo .group p{
    width: 60%; 
    margin: 0 auto;
}

.why-choose-us .iata-logo img{
    width: 40%;
    height: auto;
}

.why-choose-us .three-reasons{
    width: 50%;
    color: #4e3821;
    background-image: linear-gradient(hsla(0, 0%, 98%, 0.500),rgba(250, 250, 250, 0.500));
}

.why-choose-us .three-reasons .reason{
    padding-top: 32px;
    padding-left: 64px;
    padding-right: 64px;
}

.why-choose-us .three-reasons .reason h3 img{
    width: 80px;
    height: auto;
}





/* ----------------------BEST PACKAGES------------------- */
.best-packages{
    padding-bottom: 32px;
}

.best-packages .card-deck .card{
    border-radius: 5%;
}

.best-packages .card{
    background: radial-gradient(#111 50%, #000 100%);
    position: relative;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    padding: 0;
}

.best-packages .card img{
    border-radius: 16px;
    transition: all 0.3s ease-out;
}

.best-packages .card:hover img{
    opacity: 0.3;
}

.best-packages .card .btn{
    position: absolute;
    top: 30%;
    transform: translateX(72%);
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: all 0.3s ease-in;
    border: 3px solid #fff;
    padding: 4px 28px;
}

.best-packages .card:hover .btn{
    color: #fff;
    opacity: 1;
}

.best-packages .card .card-body{
    padding: 0%;
}

.best-packages .card .card-body .title{
    background-color: #fff;
    padding: 8px;
}

.best-packages .card .card-body .details{
    color: #fff;
    display: flex;
    flex-direction: column;
}

.best-packages .card .card-body .details .time{
    background-color: #4e3821;
    flex-grow: 1;
    text-align: center;
    padding: 8px;
}

.best-packages .card .card-body .details .rate{
    background-color: #068a62;
    text-align: center;
    padding: 8px;
}








/* -------------------------------------------RECOGNITION-------------------------------------------------- */
.recognition{
    width: 100%;
    background: linear-gradient(rgb(224, 224, 224), rgba(238, 238, 238, 0.445)), url(images/mountains.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 32px 64px 32px 64px;
}

.recognition h2{
    margin: 0%;
    padding: 0;
}

.recognition h6{
    padding-top: 16px;
}

.recognition .logo{
    width: 70%;
    margin: 0 auto;
}

.recognition .logo img{
    width: 100%;
}




/* --------------------------ISO---------------------------------- */
.isogrp{
    background: url(images/isocover.png);
    padding: 32px 64px 72px 64px;
    color: #4e3821;
}

.isogrp .grp{
    width: 80%;
    margin: 0 auto;
}

div.panel {
    display: none;
}

div.panel.show {
    display: block !important;
}

.isogrp .iso{
    border-bottom: 2px solid #4e3821;
    cursor: pointer;
    padding: 16px;
}

.isogrp .iso .accordion{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.isogrp .iso .accordion b{
    font-size: 1.8rem;
}

.isogrp .iso .panel p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
}





/* ---------------------FOOTER----------------------- */  
footer {  
    background: url(images/sagarmatha.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
    padding-top: 32px;
} 

footer::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

footer .row{
    margin: 0%;
    padding: 16px 0px;
}

footer .container{
    margin-left: auto;
    margin-right: auto;
}

footer .row .col-md-4 h4{
    border-bottom: 2px dashed #068a62;
    display: table;
    padding: 16px 0 0 0;
}

footer .row .col-md-4 .button{
    position: relative;
}

footer .row .col-md-4 .button button{
    background-color: #068a62;
    padding: 8px 16px;
    border-radius: 8px;
    color: #fff;
    border: none;
}

footer .row .col-md-4 .button .btn2{
    position: absolute; 
    right: 48px;
}

footer .row .col-md-4 ul{
    padding-left: 0%;
}

footer .row .col-md-4 ul li{
    list-style: none;
    color: #fff ;
    padding: 8px 0;
    font-size: 1.25rem;
}

footer .row .col-md-4 ul li a{
    text-decoration: none;
    color: #fff;
}

footer .row .col-md-4 ul li a i{
    color: #068a62;
    padding-left: 0%;
}

footer .row .contact ul li a i{
    background: #068a62;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    padding: 8px;
}

footer .row .col-md-6 .socials{
    padding-left: 148px;
}

footer .row .col-md-6 .socials .btn{
    background-color: #068a62;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    line-height: 70px;
    margin-right: 1rem;
}

footer .row .col-md-6 .socials .btn i{
    color: #fff;
}





/* ________________________________________RESPONSIVE_____________________________________________ */

@media (max-width:1200px){
    p{
        font-size: 1rem;
    }


    .back-img{
        height: 50rem;
    }

    .back-img .row .col-md-3 p {
        font-size: 0.7rem;
    }

    .back-img .row .d-inline-flex {
        padding: 0;
        font-size: 0.7rem;
    }

    .hero-area {
        width: 50%;
        margin: 10em auto;
    }

    .mice-tourism img{
        padding: 88px 32px;
    }

    .owl-carousel .owl-item .item{
        margin-left: -80px;
        margin-right: -80px;
        padding: 0px;
    }

    .why-choose-us{
        flex-direction: column;
    }

    .why-choose-us .circle{
        width: 40%;
    }

    .why-choose-us .iata-logo .group {
        padding: 115px 80px;
    }

    .why-choose-us .three-reasons{
        max-width: 100%;
        width: 100%;
        margin-top: 16px;
    }

    .best-packages .card .card-body .details .time {
        padding: 12px;
    }

    footer{
        padding-top: 0%;
    }

    footer .row .col-md-4 ul li{
        font-size: 1rem;
    }
}

@media (max-width:992px){
    p{
        font-size: 1rem !important;
    }

    h1{
        font-size: 2rem !important;
    }

    h2{
        font-size: 1.75rem !important;
    }

    h3{
        font-size: 1.5rem !important;
    }

    h4{
        font-size: 1.25rem !important;
    }

    h5{
        font-size: 1rem !important;
    }

    .back-img{
        height: 40rem;
    }

    .back-img .row .col-md-3 p {
        font-size: 0.55rem !important;
    }

    .back-img .row .d-inline-flex {
        padding: 0;
        font-size: 0.65rem;
    }

    .back-img .navbar .ml-auto .navbar-nav {
        font-size: 0.9rem;
    }

    .our-teams .owl-carousel .item{
        width: 90%;
        margin: 0 auto;
    }

    .our-teams .owl-carousel .item img {
        width: 56%;
    }

    .why-choose-us .circle {
        width: 44%;
    }

    .why-choose-us .iata-logo{
        width: 94%;
        margin: 0 auto;
    }

    .why-choose-us .iata-logo .group {
        padding: 60px 45px;
    }

    .why-choose-us .three-reasons .reason h3 img {
        width: 4rem;
        height: auto;
    }

    .isogrp .iso .accordion b {
        font-size: 1.5rem;
    }
}

@media (max-width:768px){
    h1{
        font-size: 1.75rem !important;
    }

    h2{
        font-size: 1.5rem !important;
    }

    h3{
        font-size: 1.25rem !important;
    }

    h4{
        font-size: 1rem !important;
    }

    h5{
        font-size: 0.75rem !important;
    }

    p{
        font-size: 0.75rem !important;
    }

    .back-img{
        height: 32rem;
    }

    .hero-area {
        width: 50%;
        margin: 5em auto;
    }

    .hero-area form .form-row .form-group .form-control {
        border-radius: 0;
        border: none;
        height: 2.5rem;
        font-size: 0.64rem;
    }

    .hero-area form .btn{
        padding: 0.3rem 0.5rem;
    }

    .cards{
        padding: 0%;
    }

    .cards .row{
        flex-direction: column;
    }

    .cards .row .card{
        width: 100%;
        margin: 0 auto;
        padding: 0%;
    }

    .cards .row .card h3{
        padding-top: 0px;
    }

    .mice-tourism{
        flex-direction: column;
    }

    .mice-tourism .col-md-6 {
        max-width: 100%;
        padding: 0;
    }

    .mice-tourism .col-md-6 img{
        padding: 32px;
    }

    .mice-tourism .details{
        padding: 32px;
    }

    .best-packages .row{
        flex-direction: column;
    }

    .best-packages .row .card{
        width: 100%;
        margin: 16px auto;
        border-radius: 16px;
    }

    .best-packages .row .card .card-body .details .time i{
        font-size: 0.75rem;
    }

    .best-packages .title{
        flex-grow: 1;
    }

    .why-choose-us .iata-logo .group {
        padding: 75px 8px;
    }

    .recognition .logo {
        width: 100%;
    }

    footer .row .col-md-4 ul li{
        font-size: 0.75rem;
    }

    footer .row .col-md-6 .socials{
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }

    footer .row .col-md-6 .socials .btn {
        width: 50px;
        height: 50px;
        line-height: 48px;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    footer .row .col-md-6 .socials .btn i{
        font-size: 1.75rem;
    }
}

@media (max-width:576px){

    h1{
        font-size: 1.5rem !important;
    }

    h2{
        font-size: 1.25rem !important;
    }

    h3{
        font-size: 1rem !important;
    }

    h4{
        font-size: 0.75rem !important;
    }

    h5{
        font-size: 0.75rem !important;
    }

    p{
        font-size: 0.75rem !important;
    }

    .back-img .row{
        flex-wrap: nowrap;
    }

    .hero-area form .form-row .form-group {
        width: 70%;
        margin: 0 auto;
    }

    .hero-area{
        width: 100% !important;
    }

    .cards .row{
        width: 70%;
        margin: 0 auto;
    }

    .mice-tourism .details a {
        font-size: 1rem;
    }

    .why-choose-us .circle{
        width: 52%;
    }

    .why-choose-us .iata-logo .group {
        padding: 40px 0px;
    }
    
    .best-packages.container {
        width: 50%;
    }

    .best-packages .card .btn {
        transform: translateX(80%);
        font-size: 0.75rem;
    }

    .recognition .logo{
        width: 50%;
    }

    footer .row .col-md-4 .button button {
        padding: 4px 8px;
        font-size: 0.75rem;
    }

    footer .row .col-md-4 .button .btn2{
        position: absolute; 
        right: 250px;
    }

    footer .row .col-md-4 {
        margin-bottom: 16px;
    }

    footer .row .col-md-4 ul{
        margin: 0;
    }

    footer .row .col-md-6 .socials {
        width: 50%;
    }

}
